/**
VARIABLES
-------------------------------------------------------------------------------
*/
:root {
  /* colors */
  --black: rgb(55 55 55);
  --white: rgb(231 231 225);
  --dark: rgb(25 25 25);
  --bright: rgb(247 247 247);
  --gray: rgb(120 120 120);
  --gold: rgb(137 137 100);
  --_L: 35;
  --_H: 89;
  --red: rgb(var(--_H) var(--_L) var(--_L));
  --blue: rgb(var(--_L) var(--_L) var(--_H));
  --pink: rgb(var(--_H) var(--_L) var(--_H));
  /* distances */
  --gap: 1.25rem;
  --hgap: 0.7rem;
}

.font-title {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.1125rem;
}

.font-body {
  font-family: "Baskervville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-caps {
  font-family: "Cormorant SC", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/**
GLOBAL STYLES
-------------------------------------------------------------------------------
*/
::selection {
  color: var(--black);
  background-color: var(--white);
}

body {
  margin: 0;
  text-align: center;
  color: var(--black);
  background-color: var(--white);
  min-height: 100vh;
  /* from `.grow` */
  display: flex;
  flex-direction: column;
}

:is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.7rem;
  /* from .font-title */
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

main {
  background-color: rgb(from var(--black) r g b / 0.02125);
  margin-top: var(--gap);
  /* from `.grow` */
  display: flex;
  flex-direction: column;
  /* from `.grow-sub` */
  flex: 1;
}

a {
  color: var(--black);
  text-decoration-color: var(--black);
  text-decoration-thickness: 0.07em;
  text-underline-offset: 0.2em;
  transition: all 150ms ease;
}

.content-list > a {
  font-size: 0.8em;
}

a:hover {
  color: var(--white);
  background-color: var(--black);
}

a.redbgh:hover {
  background-color: var(--red);
}

a.bluebgh:hover {
  background-color: var(--blue);
}

a.pinkbgh:hover {
  background-color: var(--pink);
}

a.goldbgh:hover {
  background-color: var(--gold);
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

.pink {
  color: var(--pink);
}

.gold {
  color: var(--gold);
}

.gray {
  color: var(--gray);
}

.black {
  color: var(--black);
}

.dark {
  color: var(--dark);
}

/** portrait */
figure {
  border: var(--black) solid 0.05em;
  max-width: fit-content;
}

figcaption {
  opacity: 52.5%;
  /* from `.italic` */
  font-style: italic;
}

/**
FUNCTIONAL STYLES
-------------------------------------------------------------------------------
*/

/** geometry */
.grow {
  display: flex;
  flex-direction: column;
}

.grow-sub {
  flex: 1;
}

.center {
  display: flex;
  justify-content: center;
}

/** text transforms */
.italic {
  font-style: italic;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
}

/** animation for spinner */
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
CLASS STYLES
-------------------------------------------------------------------------------
*/

.inline-code {
  background-color: var(--gray);
  color: var(--black);
  border-radius: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

/** content list component */
.content-list {
  margin-top: var(--gap);
  align-items: stretch;
  align-content: stretch;
  min-width: 33vw;
  color: var(--white);
  background-color: var(--black);
  /* from `.grow` */
  display: flex;
  flex-direction: column;
}

.content-list.shrink {
  min-width: fit-content;
  max-width: 33vw;
  padding: 0 var(--gap);
}

.content-list a {
  cursor: pointer;
  color: var(--gray);
  text-align: left;
  text-decoration: none;
  padding: var(--gap);
  border-bottom: var(--gray) solid 0.05em;
}

.content-list a:hover {
  color: var(--bright);
  border-bottom: var(--bright) solid 0.05em;
}

.content-list p {
  color: var(--gray);
  line-height: 1.5rem;
  font-size: 0.8em;
}

.content-list-footer-container {
  flex: 1;
  /* from `.center` */
  display: flex;
  justify-content: center;
}

.content-list-footer {
  padding: var(--hgap) 0;
  align-self: flex-end;
  flex: 1;
}

/* TODO quote component */

/**
SPECIFIC COMPONENT STYLES
-------------------------------------------------------------------------------
*/

/** Nav bar */
nav {
  display: flexbox;
  justify-content: space-evenly;
  align-items: center;
  padding-top: var(--gap);
}

nav > a {
  flex-grow: 1;
  padding: var(--gap);
  color: var(--black);
  font-weight: 500;
  text-decoration: none;
}

nav > a:hover {
  background-color: var(--bright);
  color: var(--gold);
}

/** home page img */
.landing-img {
  width: min(15rem, 65vw);
  height: auto;
}
