:root {
  --fg: rgb(55 55 55);
  --bg: rgb(231 231 225);
  --fg2: rgb(137 137 100);
  --fg3: rgb(137 137 137);
  --fgr: rgb(75, 35, 35);
  --fgb: rgb(35 35 75);
  --fgp: rgb(85 35 85);
  --pad: 1.25rem;
  --hpad: 0.7rem;
  --margin: 1rem;
}

::selection {
  color: var(--bg);
  background-color: var(--fg2);
}

.bodoni-moda-sc-titlefont {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.1125rem;
}

.baskervville-bodyfont {
  font-family: "Baskervville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cormorant-sc-buttonfont {
  font-family: "Cormorant SC", serif;
  font-weight: 500;
  font-style: normal;
}

.vertical-space {
  padding: var(--hpad) 0;
}

.max-halfwidth {
  margin: 0 7rem 0 7rem;
}

code {
  background-color: var(--fg);
  color: var(--bg);
  border-radius: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

body {
  margin: 0;
  text-align: center;
  background-color: var(--bg);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.7rem;
  padding-bottom: 0.5rem;
}

nav {
  padding: var(--pad) 0 0 0;
  display: flexbox;
  justify-content: space-evenly;
  align-items: center;
}

nav > a {
  flex-grow: 1;
  border-radius: 0.5rem;
  padding: var(--pad);
  color: var(--fg);
  font-weight: 500;
  text-decoration: none;
  transition:
    background-color 150ms ease,
    color 150ms ease;
}

nav > a:hover,
.button-list a:hover {
  background-color: rgb(255 255 255 / 37%);
  color: var(--fg2);
}

main {
  padding: 2rem 1rem;
}

main a {
  color: var(--fg2);
  text-decoration-color: var(--fg2);
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.2em;
  transition: color 150ms ease;
}

a:hover {
  color: var(--bg);
  background-color: var(--fg2);
}

a:focus-visible {
  outline: 3px solid var(--fg2);
  outline-offset: 3px;
  border-radius: 0.2rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: fit-content;
}

.button-list a {
  color: var(--fg);
  text-align: left;
  font-size: 0.925rem;
  text-decoration: none;
  padding: 0 0.5rem 0 0;
  border-radius: 0.5rem;
  padding: var(--hpad);
  transition:
    background-color 150ms ease,
    color 150ms ease;
}

.italic {
  font-style: italic;
}

.landing-img {
  width: 15rem;
  height: auto;
}

figure {
  border: var(--fg) solid 0.05rem;
  margin: 1rem;
  padding: 1.625rem;
  max-width: fit-content;
}

figcaption {
  font-style: italic;
  color: var(--fg3);
}

.center {
  display: flex;
  justify-content: center;
}
