:root {
  --fg: rgb(55 55 55);
  --bg: rgb(231 231 225);
  --fgh: rgb(255 255 255 / 37%);
  --fg2: rgb(137 137 100);
  --fgc: rgb(25 25 25);
  --fgr: rgb(105, 35, 35);
  --fgb: rgb(35 35 105);
  --fgp: rgb(105 35 105);
  --pad: 1.25rem;
  --hpad: 0.7rem;
  --margin: 1rem;
}

::selection {
  color: var(--bg);
  background-color: var(--fg2);
}

.bodoni-moda-sc-titlefont {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.1125rem;
}

.baskervville-bodyfont {
  font-family: "Baskervville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cormorant-sc-buttonfont {
  font-family: "Cormorant SC", serif;
  font-weight: 500;
  font-style: normal;
}

.vertical-space {
  padding: var(--hpad) 0;
}

.max-halfwidth {
  margin: 0 7rem 0 7rem;
}

code {
  background-color: var(--fg);
  color: var(--bg);
  border-radius: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

body {
  margin: 0;
  text-align: center;
  background-color: var(--bg);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.parent-height-grow {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.child-height-grow {
  flex: 1;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.7rem;
  padding-bottom: 0.5rem;
}

nav {
  padding: var(--pad) 0 0 0;
  display: flexbox;
  justify-content: space-evenly;
  align-items: center;
}

nav > a {
  flex-grow: 1;
  padding: var(--pad);
  color: var(--fg);
  font-weight: 500;
  text-decoration: none;
  transition:
    background-color 150ms ease,
    color 150ms ease;
}

nav > a:hover {
  background-color: var(--fgh);
  color: var(--fg2);
}

main {
  padding: 2rem 1rem;
  padding-bottom: 0;

  display: flex;
  flex-direction: column;
  flex: 1;
}

main a {
  color: var(--fg);
  text-decoration-color: var(--fg);
  text-decoration-thickness: 0.07em;
  text-underline-offset: 0.2em;
  transition: color 150ms ease;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-list {
  margin-top: var(--hpad);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  max-width: 50vw;
  min-width: 25vw;
  background-color: var(--fgh);
}

.button-list a {
  color: var(--fg);
  text-align: left;
  font-size: 0.8em;
  text-decoration: none;
  padding: var(--pad);
  border-bottom: solid 0.05em;
  border-image: linear-gradient(
      to right,
      var(--bg) 0%,
      var(--fg2) 30%,
      var(--fg2) 70%,
      var(--bg) 100%
    )
    1;
  transition:
    background-color 150ms ease,
    color 150ms ease;
}

.button-list a:hover {
  color: var(--bg);
  background-color: var(--fg);
}

.indexbody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  background-color: var(--fgh);
  padding: var(--hpad) var(--pad);
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 2rem;
}

.indexbody p {
  font-size: 0.8em;
  color: var(--fg);
}

.indexbody code {
  font-size: 1em;
  background-color: var(--fgc);
  color: var(--bg);
  white-space: pre-wrap;
  overflow-wrap: break-word;

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.italic {
  font-style: italic;
}

.landing-img {
  width: 15rem;
  height: auto;
}

figure {
  border: var(--fg2) solid 0.01rem;
  margin: 1rem;
  padding: 1.625rem;
  max-width: fit-content;
}

figcaption {
  font-style: italic;
  color: var(--fg2);
}

.center {
  display: flex;
  justify-content: center;
}

.height100 {
  height: 100%;
}

a:hover {
  color: var(--bg);
  background-color: var(--fg);
}

a:focus-visible {
  outline: 3px solid var(--fg2);
  outline-offset: 3px;
  border-radius: 0.2rem;
}
